@import './variables';
@import './mixins';
@import './typography';

.comment {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
    height: auto;
    margin: 0rem;
    padding: 1rem 0;
    border-bottom: 1px solid $mercury;
    
    &-numbers {
        font-weight: 700;
    }

    &__image {
        border-radius: 50%;
        width: 36px;
        height: 36px;

        &-container {
            margin-right: 1rem;
        }
    }

    &__container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    &__form {
        max-width: 100%;
        width: 100%;

        &-label {
            color: $mercury;
            font-size: 0.8125rem;
            padding-bottom: 1rem;
        }
        &-box {
            box-sizing: border-box;
            background-color: $alabaster;
            width: 100%;
            height: 10rem;
            border-radius: 4px;
            @include border-styling;
            outline: none;

            &:focus {
                border: 2px solid $brainflix-blue;
            }
        }

        &-button {
            @include button-styling;
            margin-top: 1rem;

            &:hover {
                background-color: $brainflix-darkblue;
            }

        }

    }
}