@import 'variables';

.navbar {
    display: flex;
    flex-direction: column;
    width: 320px;
    align-items: center;

    &__img {
        height: 25px;
        width: 120px;
    }

    &__search {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top:2rem;
        margin-bottom: 2rem;
        justify-content: space-between;
    }

    &__searchbar {

        height: 36px;
        width: 80%;
        border: 1px solid $mercury;
        border-radius: 4px;
        outline: none;

            &:focus {
                border: 2px solid $brainflix-blue;
            }
    }

}

.user-avatar {

    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.upload-button {

    height: 40px;
    width: 100%;
    background-color: $brainflix-blue;
    color: $white;

    &:hover {
        background-color: $brainflix-darkblue;
    }
}