@import './breakpoints';
@import './variables';

@mixin border-styling {
    border: 1px solid $mercury;
}

@mixin button-styling {
    height: 40px;
    width: 100%;
    background-color: $brainflix-blue;
    color: $white;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-row-styling {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

@mixin flex-column-styling {
    display: flex;
    flex-direction: column;
}

@mixin form-size {

    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px;
    outline: none;
    border: 1px solid $mercury;
    margin: 0;

    @include mobile {
        min-height: 36px;
        max-height: 40px;
        max-width: inherit;
        width: 100%;
    }

    @include tablet {
        min-height: 40px;
        padding: 16px;
    }
}

@mixin upload-form-title-desktop {
    font-size: 2.125rem;
    padding: 2rem 0;
    box-sizing: border-box;
    border-bottom: 1px solid $mercury;
    margin: 0;
}