@font-face {
    font-family: 'Avenir-Next-Regular';
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.woff) format("woff");
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.woff2) format("woff2");
    font-weight: 400;

}

@font-face {
    font-family: 'Avenir-Next-Bold';
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.woff) format("woff");
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.woff2) format("woff2");
    font-weight: 700;
}

