
$brainflix-blue: #0095FF;
$white: #FFFFFF;
$brainflix-black: #323232;
$silver: #AFAFAF;

$brainflix-darkblue: #0065AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
$brainflix-darkblack: #000000; 


$desktop-fontsize: 0.875rem;
$desktop-headersize: 2.0625rem;
$desktop-sectionheadersize: 0.75rem;

$mobile-fontsize: 0.8125rem;
$mobile-headersize: 1.5rem;