@import './variables';
@import './mixins';
@import './typography';

.vid-stats__container {

    display: flex;
    flex-direction: row;
    width: 100%;
    color: $mercury;
    border-top: 1px solid $mercury;
    border-bottom: 1px solid $mercury;
    font-family: 'Avenir-Next-Regular'
}

.vid-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;

    &--bold {
        font-weight: 700;
        color: $brainflix-darkblack;
    }
}

