@import "../../styles/partials/breakpoints";
@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";


.video-description {
    padding: 0 1rem;
    font-size: 0.8125rem;

    @include tablet {
        font-size: 0.875rem;
    }

    @include desktop {
        font-size: 0.875rem;
    }
}