@import "../../styles/partials/breakpoints";
@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";

.upload {

    @include flex-column-styling;
    box-sizing: border-box;
    border: 1px solid red;
    border-top: 2px solid $mercury;

    &-title {
        font-family: "Avenir-Bold";
        font-weight: 300;
    }
    
    &__form {

        &-thumbnail {

            @include flex-column-styling;

            &-image {
                object-fit: contain;
                width: 100%;
                border-radius: 4px;
                padding-top: 0.5rem;
            }
        }

        &-container {
            @include flex-column-styling;
            width: 100%;
        }
    }


}

.form-label {
    color: $mercury;
    font-size: 0.8125rem;
    font-weight: 700;
    text-transform: uppercase;
}