@import "../../styles/partials/breakpoints";
@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";

.upload {

    @include flex-column-styling;
    box-sizing: border-box;
    border-top: 2px solid $mercury;

    &-title {
        font-family: "Avenir-Bold";
        font-weight: 300;
    }
    
    &__form {

        &-thumbnail {

            @include flex-column-styling;

            &-image {
                object-fit: contain;
                width: 100%;
                border-radius: 4px;
                padding-top: 0.5rem;
            }
        }

        &-container {
            @include flex-column-styling;
            width: 100%;
            height: auto;
            padding-top: 0.5rem;
        }

        &-title-container {
            @extend .upload__form-container;
            height: fit-content;
            max-width: 500px;
        }

        &-vid-description-container{
            @include flex-column-styling;
            padding-top: 1rem;
        }

        &-buttons {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            padding-top: 2rem;
        }
       
        &-cancel {
            padding-top: 3rem;
            &--styling {
                text-decoration: none;
                color: $brainflix-blue;
                font-weight: 700;
                font-size: 1rem;
                text-transform: uppercase;
            }
        }

        &-publish {
            box-sizing: border-box;
            height: 40px;
            width: 100%;
            font-size: 1rem;
            background-color: $brainflix-blue;
            border: none;
            border-radius: 4px;
            color: $white;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            &:hover {
                background-color: $brainflix-darkblue;
            }
        }
    }

}

.publish-icon {
    position: absolute;
    left: 0;
    padding-left: 1rem;
}

.form__title-input {
   @include form-size;
    background-color: $alabaster;

    &::placeholder {
        font-family: "Avenir-Regular";
        color: $brainflix-black;
        font-weight: 700;
    }
    &:focus {
        border: 2px solid $brainflix-blue;
    }

    &-box {
        // border: 1px solid red;
    }
}

.form-label {
    color: $mercury;
    font-size: 0.8125rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}

.form-vid-description-input {

    box-sizing: border-box;
    border: 1px solid $mercury;
    background-color: $alabaster;
    padding: 12px;
    height: 120px;
    width: 100%;
    max-height: 150px;    
    outline: none;

    &::placeholder {
        font-family: "Avenir-Regular";
        color: $brainflix-black;
        font-weight: 700;

    }

    &:focus {
        border: 2px solid $brainflix-blue;
    }
    &-box {
        max-height: auto;
        height: fit-content;
        margin: 0;
        width: 100%;
    }

}