@import "../../styles/partials/breakpoints";
@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";

.video {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
   
    &__player {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        background-color: $brainflix-darkblack;

        @include tablet {
            width:100%;
            aspect-ratio: 16 / 9;
            object-fit: contain;
            max-height: 50vh;
        }

        @include desktop {
            width: 100%;
            aspect-ratio: 16 / 9;
            object-fit: contain;
            max-height: 75vh;
        }
    }

    &__title {
        font-size: 1.5rem;
        font-family: "Avenir-Bold";
        
        @include tablet {
            font-size: $desktop-headersize;
        }

        @include desktop {
            font-size: $desktop-headersize;
            padding: 1rem 0em 1rem 2em;
            margin: 0;
        }
    }
}

video::-webkit-media-controls-timeline {
    background-color: $brainflix-darkblack;
    opacity: 50%;
}

