
@import "../../styles/partials/breakpoints";
@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";

.comment-section {
    box-sizing: border-box;
    @include flex-row;
    width: 100%;
    padding: 1rem 1rem;
    border-bottom: 1px solid $mercury;
    line-height: 1.25rem;
    margin: 0;

    

    &__image {
        background-color: grey;
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }

}

.comments__blurb {

    padding-top: 0.5rem;
    
    @include tablet {
        padding-top: 0.5rem;
    }

    @include desktop {
        padding-top: 0.5rem;
    }
}
.comments-container {

    @include flex-column;
    padding-left: 1rem;
    width: 100%;
}

.comments__details {
    @include flex-row;
    justify-content: space-between;

    @include desktop {
        padding-right: 1rem;
    }

    &-username {
        font-weight: 700;
    }

    &-date {
        color: $mercury;
    }
}