@import "../../styles/partials/breakpoints";
@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";

.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-family: 'Avenir-Next-Regular';

    @include tablet {
        padding: 1rem 0rem;
        height: auto
    }
  

    &__img {
        height: 25px;
        width: 120px;

        &--mobile {
            @include tablet {
                display: none;
            }

            @include desktop {
                display: none;
            }
        }

        &--desktop {
            @include mobile {
                display: none;
            }
            @include tablet {
                margin-left: 2rem;
            }
        }
    }

    &__search {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top:2rem;
        margin-bottom: 2rem;

        @include tablet {
            align-items: center;
            justify-content: space-between;
            margin: 0rem;
            padding-right:2rem;
        }

        @include desktop {
            width: 90%;
            margin: 0;
            align-items: center;
            justify-content: space-between;
        }

        &--space {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @include tablet{
                width: 60%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }

            @include desktop {
                width: 50%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }
        }
    }

    &__searchbar {

        height: 36px;
        width: 80%;
        border: 1px solid $mercury;
        border-radius: 4px;
        outline: none;

            &:focus {
                border: 2px solid $brainflix-blue;
            }

        @include tablet {
            width: 40%;
            max-width: 500px;
            height: 40px;
        }

        @include desktop {
            width: 40%;
            height: 40px;
        }
    }

}

.user-avatar {

    border-radius: 50%;
    width: 36px;
    height: 36px;

    @include tablet {
        height: 40px;
        width: 40px;
    }

    @include desktop {
        height: 40px;
        width: 40px;
    }
}

.upload-icon {
    position: absolute;
    left: 0;
    padding-left: 0.5rem;
}

.upload-button {

    box-sizing: border-box;
    text-decoration: none;
    font-family: "Avenir-Regular";
    height: 40px;
    width: 100%;
    background-color: $brainflix-blue;
    border: none;
    border-radius: 4px;
    color: $white;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    

       
    &:hover {
        background-color: $brainflix-darkblue;
    }

    &--mobile{
        @include tablet {
            display: none;
        }

        @include desktop {
            display: none;
        }
    }

    &--desktop {
        @include mobile {
            display: none;
        }

        @include tablet {
            width: 200px;
        }

        @include desktop {
            width: 200px;
        }
    }
}