.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-family: "Avenir-Next-Regular";
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .navbar {
    padding: 1rem 0rem;
    height: auto;
  }
}
.navbar__img {
  height: 25px;
  width: 120px;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .navbar__img--mobile {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__img--mobile {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .navbar__img--desktop {
    display: none;
  }
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .navbar__img--desktop {
    margin-left: 2rem;
  }
}
.navbar__search {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .navbar__search {
    align-items: center;
    justify-content: space-between;
    margin: 0rem;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__search {
    width: 90%;
    margin: 0;
    align-items: center;
    justify-content: space-between;
  }
}
.navbar__search--space {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .navbar__search--space {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__search--space {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.navbar__searchbar {
  height: 36px;
  width: 80%;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  outline: none;
}
.navbar__searchbar:focus {
  border: 2px solid #0095FF;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .navbar__searchbar {
    width: 40%;
    max-width: 500px;
    height: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__searchbar {
    width: 40%;
    height: 40px;
  }
}

.user-avatar {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .user-avatar {
    height: 40px;
    width: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .user-avatar {
    height: 40px;
    width: 40px;
  }
}

.upload-button {
  height: 40px;
  width: 100%;
  background-color: #0095FF;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40%;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .upload-button {
    gap: 20%;
  }
}
@media screen and (min-width: 1280px) {
  .upload-button {
    gap: 20%;
  }
}
.upload-button:hover {
  background-color: #0065AD;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .upload-button--mobile {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .upload-button--mobile {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .upload-button--desktop {
    display: none;
  }
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .upload-button--desktop {
    width: 200px;
  }
}
@media screen and (min-width: 1280px) {
  .upload-button--desktop {
    width: 200px;
  }
}

.vid-stats__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #E1E1E1;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .vid-stats__container {
    border-top: none;
    justify-content: space-between;
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  .vid-stats__container {
    border-top: none;
    width: 66%;
    padding-left: 4rem;
    padding-right: 1rem;
    margin: 0;
    justify-content: space-between;
  }
}

.vid-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  width: 100%;
  padding: 0.5rem 0rem;
  margin: 0;
  font-size: 0.875rem;
}
.vid-stats > p {
  margin: 0;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .vid-stats > p {
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  .vid-stats > p {
    margin: 0;
  }
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .vid-stats {
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    margin: 0rem;
  }
}
@media screen and (min-width: 1280px) {
  .vid-stats {
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    margin: 0rem;
  }
}
.vid-stats--bold {
  font-weight: 700;
  color: #000000;
  font-size: 0.8125rem;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .vid-stats--bold {
    font-size: 1.25rem;
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  .vid-stats--bold {
    font-size: 1.25rem;
    margin: 0;
  }
}
.vid-stats__icon {
  margin-right: 0.5rem;
}

.video {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.video__player {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #000000;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .video__player {
    width: 100%;
    aspect-ratio: 16/9;
    -o-object-fit: contain;
       object-fit: contain;
    max-height: 50vh;
  }
}
@media screen and (min-width: 1280px) {
  .video__player {
    width: 100%;
    aspect-ratio: 16/9;
    -o-object-fit: contain;
       object-fit: contain;
    max-height: 75vh;
  }
}
.video__title {
  font-size: 1.5rem;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .video__title {
    font-size: 2.0625rem;
  }
}
@media screen and (min-width: 1280px) {
  .video__title {
    font-size: 2.0625rem;
    padding: 1rem 0em 1rem 2em;
    margin: 0;
  }
}

video::-webkit-media-controls-timeline {
  background-color: #000000;
  opacity: 50%;
}

.comment {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 100%;
  height: auto;
  margin: 0rem;
  padding: 1rem 0;
  border-bottom: 1px solid #E1E1E1;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .comment {
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .comment {
    width: 59%;
    padding-left: 13rem;
    justify-content: space-between;
    align-items: center;
    margin-right: 0;
  }
}
.comment-numbers {
  font-weight: 700;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .comment-numbers {
    padding-top: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .comment-numbers {
    padding-top: 2rem;
    padding-left: 4rem;
  }
}
.comment__image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.comment__image-container {
  margin-right: 1rem;
  padding-top: 1rem;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .comment__image-container {
    padding-top: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .comment__image-container {
    padding-top: 1.5rem;
  }
}
.comment__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .comment__container {
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .comment__container {
    width: 100%;
    padding-right: 1rem;
  }
}
.comment__form {
  max-width: 100%;
  width: 100%;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .comment__form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .comment__form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .comment__form--position {
    width: 100%;
    padding-right: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .comment__form--position {
    width: 100%;
    padding-right: 1rem;
    padding-top: 0.5rem;
  }
}
.comment__form-label {
  color: #E1E1E1;
  font-size: 0.875rem;
  padding-bottom: 1rem;
}
.comment__form-box {
  box-sizing: border-box;
  background-color: #FAFAFA;
  width: 100%;
  height: 10rem;
  border-radius: 4px;
  border: 1px solid #E1E1E1;
  outline: none;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .comment__form-box {
    height: 40px;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .comment__form-box {
    height: 40px;
    width: 100%;
  }
}
.comment__form-box:focus {
  border: 2px solid #0095FF;
}
.comment__form-button {
  height: 40px;
  width: 100%;
  background-color: #0095FF;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .comment__form-button {
    height: 40px;
    width: 150px;
    margin-top: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .comment__form-button {
    height: 40px;
    width: 150px;
    margin-top: 1.75rem;
  }
}
.comment__form-button:hover {
  background-color: #0065AD;
}

.comment-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1rem 0rem;
  border-bottom: 1px solid #E1E1E1;
  line-height: 1.25rem;
  margin: 0;
}
@media screen and (min-width: 1280px) {
  .comment-section {
    width: 70.2%;
    padding-left: 13rem;
    padding-right: 1rem;
  }
}
.comment-section__image {
  background-color: grey;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.comments__blurb {
  padding-top: 0.5rem;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .comments__blurb {
    padding-top: 0.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments__blurb {
    padding-top: 0.5rem;
  }
}

.comments-container {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  width: 100%;
}

.comments__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.comments__details-username {
  font-weight: 700;
}
.comments__details-date {
  color: #E1E1E1;
}

.video-list {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}
@media screen and (min-width: 1280px) {
  .video-list {
    position: absolute;
    top: 83.85%;
    left: 70%;
    border-left: 1px solid #E1E1E1;
    padding-left: 1.5rem;
  }
}
.video-list__title {
  font-size: 0.875rem;
  color: #E1E1E1;
  padding-top: 0.5rem;
}
.video-list__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0rem 1rem 0rem;
  text-decoration: none;
  color: #323232;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .video-list__container {
    width: 40%;
  }
}
@media screen and (min-width: 1280px) {
  .video-list__container {
    width: 25%;
  }
}
.video-list__image {
  width: 10rem;
  height: 5rem;
  -o-object-fit: fill;
     object-fit: fill;
}

.next-video__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding-left: 1rem;
  width: 50%;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .next-video__details {
    width: 60%;
  }
}
.next-video__details-title {
  font-weight: 700;
  line-height: 1.25rem;
}
.next-video__image {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.video-description {
  font-size: 0.8125rem;
}
@media screen and ((min-width: 768px) and (max-width: 1279px)) {
  .video-description {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .video-description {
    font-size: 0.875rem;
    width: 60%;
    padding-left: 4rem;
  }
}

@font-face {
  font-family: "Avenir-Regular";
  src: url("./assets/fonts/AvenirNextLTPro-Regular.otf");
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0 1rem;
  font-family: "Avenir-Regular";
}/*# sourceMappingURL=App.css.map */