@import './styles/partials/header';
@import './styles/partials/vidstats';
@import './styles/partials/video';
@import './styles/partials/comment';
@import './styles/partials/comments-section';
@import './styles/partials/video-list';
@import './styles/partials/description';
@import './styles/partials/typography';

@font-face{
    font-family: "Avenir-Regular";
    src: url("./assets/fonts/AvenirNextLTPro-Regular.otf");
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0 1rem;
    font-family: "Avenir-Regular";
}


