@import "../../styles/partials/breakpoints";
@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";


.vid-stats-section {
    padding: 0 1rem;
    @include desktop {
        width: 100%;
        padding-top: 1rem;
    }
}
.vid-stats__container {

    display: flex;
    flex-direction: row;
    width: 100%;
    color: $mercury;
    border-top: 1px solid $mercury;
    border-bottom: 1px solid $mercury;

    @include tablet {
        border-top: none;
        justify-content: space-between;
        margin: 0;
    }

    @include desktop {
        border: none;
        margin: 0;
        justify-content: space-between;
    }
}

.vid-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    padding: 0.5rem 0rem;
    margin: 0;
    font-size: 0.875rem;

    & > p {

        margin: 0;
        @include tablet {
            margin: 0;
        }

        @include desktop {
            margin: 0;
            width: 100%;
        }
    }

    @include tablet {
        flex-direction: row;
        width: 30%;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        margin: 0rem;
    }

    @include desktop {
        flex-direction: row;
        width: 30%;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        margin: 0rem;
    }

    &--bold {
        font-family: "Avenir-Bold";
        color: $brainflix-darkblack;
        font-size: 0.8125rem;

        @include tablet {
            font-size: 1.25rem;
            margin: 0;
        }

        @include desktop {
            font-size: 1rem;
            margin: 0;
        }
    }

    &__icon {
        margin-right: 0.5rem;
    }

}

.video__title {
    font-size: 1.5rem;
    font-family: "Avenir-Bold";
    
    @include tablet {
        font-size: $desktop-headersize;
    }

    @include desktop {
        font-size: $desktop-headersize;
        margin: 0;
    }
}

